@import "tailwindcss";


@theme{
  /* --color-primary:  #244F52; */
  --color-secondary: #E6EFE9;  /* card backgeound */
  --color-greenbtn: #E8A58A;    /*BUTTON*/
  --color-lighthov:#F2B9A1;    /* hover btn */
  --color-icon :#f2a794;
  --color-maintext :#1F2F30;         /* primary text black */
  --color-secondarytext :#4A5A5B;     /* card secondary  text color*/
  --color-surface :#FFFFFF;

    --color-muted: '#4A5A5B';     /* secondary text*/
       --color-subtle: '#778687',;


    --color-primary:#6bb0ad;
    --color-text:#010101;
}