@import "tailwindcss";


@theme{
  /* --color-primary:  #244F52; */
  /* --color-secondary: #E6EFE9;  */ /* card backgeound */
  /* --color-greenbtn: #E8A58A; */    /*BUTTON*/
  /* --color-lighthov:#F2B9A1;    */ /* hover btn */
  /* --color-icon :#f2a794; */
  /* --color-maintext :#1F2F30;    */      /* primary text black */
  /* --color-secondarytext :#4A5A5B;  */     /* card secondary  text color*/
  /* --color-surface :#FFFFFF; */

    /* --color-muted: '#4A5A5B';   */  /* secondary text*/
       /* --color-subtle: '#778687'; */

/* newpattern */
    --color-primary:#325455;
    --color-background:#eaf0ee;
    --color-secondbg:#ffffff;
   /* text */
    --color-primarytext:#4b5355 ;
    --color-textcol:#131818;
     --color-text:#bfd7d6;
     --color-lighttext:#cab9b7;
     --color-bodytext:#9ea9a8;
     --color-tagtext:#937a76;

     /* button */
     --color-button:#df807a;
     --color-lightbutton:#efa6a0;


/* tag */
    --color-tag:#e8ccce;
}