@import "tailwindcss";


@theme{

--color-greenmuted:#8fa797;
--color-yellow:#ffd333;
--color-peach:#f2a794;
--color-darkgreen:#2d4a36;
--color-offwhite:#F6F4F0;
--color-softpeach:#f2a794;

/* opacity */
 --color-darkgreen-rgb: 45, 74, 54;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}
@layer components {
   .text-heading {
    @apply text-3xl font-extrabold;
    color: var(--color-darkgreen);
  }
  .text-cardtitle {
     @apply text-sm font-semibold;
    color: rgba(var(--color-darkgreen-rgb), 0.7);
  }
  .text-cardfooter {
    @apply text-xs font-semibold;
    color: var(--color-greenmuted);
  }
  .text-value {
    @apply text-4xl font-bold;
    color: var(--color-darkgreen);
  }
  .text-subheading{
    @apply text-lg font-bold;
    color: var(--color-darkgreen);
  }
  .text-label{
    @apply text-sm font-bold tracking-wide;
   color: var(--color-darkgreen);
  }
  .text-tabheading{
    @apply text-2xl font-bold;
    color: var(--color-darkgreen);
  }
  .text-tab-subtext{
    @apply text-sm;
    color: var(--color-darkgreen);
  }
  .text-tab-subheading{
    @apply text-xl font-bold;
    color: var(--color-darkgreen);
  }
  .text-table-text{
    @apply text-sm font-semibold;
    color: var(--color-darkgreen);
  }
  .text-outerheader{
    @apply text-xl font-semibold ;
    color: var(--color-darkgreen);
  }
}